.container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.personagem {
    margin: 10px;
    height: 140px;
    width: 140px;
    background-size: 103%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);

    &.active {
        filter: grayscale(0%);
    }
}

.mini {
    height: 80px;
    width: 80px;
}

ion-row {
    text-align: center;
    color: white;
}