<ion-content [fullscreen]="true">

    <div class="container">
        <h3>Tempo de votação em minutos:</h3>
    </div>
    <div class="container ion-padding">
        <ion-range aria-label="Custom range" [min]="1" [max]="10" [value]="timeOption" [pin]="true" [ticks]="true"
            [snaps]="true" (ionChange)="onVoteTimeChange($event)"></ion-range>
    </div>

    <div class="container ion-padding">
        <ion-select label="Selecione o narrador" placeholder="Narrador" (ionChange)="onVoiceChange($event)"
            [value]="voiceOption">
            <ion-select-option value="narakeet">Felipe</ion-select-option>
            <ion-select-option value="ttsmp3">Onyx</ion-select-option>
        </ion-select>
        <h3>Selecione os Personagens</h3>
        <br>
    </div>

    <div class="container">
        <div *ngFor="let c of characters">
            <div *ngIf="c.interval > 0" class="personagem" (click)="onSelect(c.slug)" id="{{c.slug}}"
                style="background-image: url('assets/sprites/{{c.img}}');">
            </div>
        </div>
    </div>


</ion-content>