<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configurar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <div class="container">
    <ion-button (click)="confirm()">Confirmar</ion-button> 
    <!--<ion-button (click)="reset()" color="danger">Resetar</ion-button> -->
  </div>
  <div class="container">
   <div *ngFor="let p of personagens">
      <div class="personagem" (click)="onSelect(p.id)" id="config_{{p.id}}">
        <img src={{p.img}} class="active" alt="">
        <img src={{p.img_grey}} class="inactive" alt="">
      </div>
   </div>
  </div>
</ion-content>
