<ion-content [fullscreen]="true">




    <div class="container">

        <h3>Selecione a voz de narração</h3>
        <ion-segment [value]="voiceOption" (ionChange)="onVoiceChange($event)">
            <ion-segment-button value="narakeet">
                <ion-label>Felipe</ion-label>
            </ion-segment-button>
            <ion-segment-button value="ttsmp3">
                <ion-label>Onyx</ion-label>
            </ion-segment-button>
        </ion-segment>
        <h3>Escolha os Personagens</h3>
        <br>
    </div>

    <div class="container">

        <div *ngFor="let c of characters">
            <div *ngIf="c.interval > 0" class="personagem" (click)="onSelect(c.id)" id="{{c.id}}"
                style="background-image: url('{{c.img}}');">
            </div>
        </div>
    </div>
</ion-content>