<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Werewolf
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <ion-button (click)="play()" *ngIf="!currentPlayingAudio.isplaying" color="success">
            <ion-col>
                <ion-row style="display: block">
                    <ion-icon name="play" class="button-icon"></ion-icon>
                </ion-row>
                <ion-row>Play</ion-row>
            </ion-col>
        </ion-button>

        <ion-button (click)="stop()" *ngIf="currentPlayingAudio.isplaying" color="danger">
            <ion-col>
                <ion-row style="display: block">
                    <ion-icon name="square" class="button-icon"></ion-icon>
                </ion-row>
                <ion-row>Stop</ion-row>
            </ion-col>
        </ion-button>
    </div>

    <div class="container">
        <div *ngFor="let p of selecteds">
            <div class="personagem" id="home_{{p.name}}">
                <img src={{p.img}} [ngClass]="{active: p.name == currentPlayingAudio.value}">
            </div>
        </div>
    </div>
</ion-content>